.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 150px 300px;
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 1900px) {
  .wrapper {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 1550px) {
  .wrapper {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 1400px) {
  .lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .lists {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .lists {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 330px) {
  .wrapper {
    padding: 50px 0;
  }
}
