.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 150px 300px;
}

.bottom {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

@media screen and (max-width: 1800px) {
  .wrapper {
    padding: 150px;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    padding: 100px;
  }
}

@media screen and (max-width: 1400px) {
  .bottom {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .bottom {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 50px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding: 20px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }
}
