* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--grey);
  background-color: var(--dark);
}

#root {
  --green: #007242;
  --green-light: #009b5a;
  --grey: #c3c3c3;
  --light: #e7e7e7;
  --dark: #1b1b1b;
  --blue: #204da7;
}
